OPENAI_API_KEY=
OPENREMOTE_CLIENT_ID=<OPENREMOTE_CLIENT_ID>
OPENREMOTE_CLIENT_SECRET=<OPENREMOTE_CLIENT_SECRET>
OPENREMOTE_URL=https://<OPENREMOTE_URL>
OPENREMOTE_KEYCLOAK_URL=https://<OPENREMOTE_URL>/auth
OPENREMOTE_REALM=master
OPENREMOTE_VERIFY_SSL=1
KEYCLOAK_MIDDLEWARE_ENABLED=1